.photo-swipe-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photo-swipe-photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100lvi;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-out;
}

.swipe-gesture {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
	font-size: 4rem;
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.swipe-gesture.visible {
	opacity: 1;
}